{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block body %}

{% include "navbar/navbar.html.twig" %}

<div class="example-wrapper">
  {% include "home/myInclude.html.twig" %}
  <h1 class="text-center">{{ controller_name }}!!! ✅</h1>
  <table>
    <tr>
      <th>Prénoms</th>
    </tr>

    {% set users = ["Jeremy","Cynthia","Wassila"] %} {% for user in users %}
    <tr>

      <td>
        {{ user }}
      </td>
    </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}
